/* 顶部区域 start */
.page-header {
  width: 100%;
}

.page-header .header-top {
  height: 70px;
  background-color: #242424;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
}

.page-header .topbar-wrapper {
  display: flex;
  justify-content: space-between;
  height: 69px;
  line-height: 69px;
}


.topbar-left {
  display: flex;
}

.topbar-left .logo {
  width: 176px;
  height: 69px;
  background-image: url(../images/topbar_sprite.png);
  background-position: 0 0;
}

.topbar-left .logo a {
  display: block;
  width: 157px;
  height: 100%;
  padding-right: 20px;
  text-indent: -99999px;
}

.topbar-left .list {
  display: flex;
}

.topbar-left .list .item {
  position: relative;
  display: block;
  padding: 0 20px;
  font-size: 14px;
  color: #cccccc;
}

.topbar-left .list .item:hover,
.topbar-left .list .item.active {
  color: #ffffff;
  background-color: #000000;
}

.topbar-left .list .item.active::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 7px;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url(../images/topbar_sprite.png) -226px 0;
}


.topbar-left .list .item .icon-hot {
  position: absolute;
  top: 14px;
  right: -18px;
}

.topbar-right {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.topbar-right .search-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 158px;
  height: 32px;
  box-sizing: border-box;
  padding-right: 10px;
  border-radius: 30px;
  background-color: #ffffff;
}

.topbar-right .search-wrapper input {
  font-size: 12px;
  width: 118px;
}

.topbar-right .anthor-wrapper a {
  display: block;
  width: 90px;
  height: 32px;
  box-sizing: border-box;
  margin: 0 20px;
  line-height: 32px;
  color: #cccccc;
  text-align: center;
  border: 1px solid #4f4f4f;
  border-radius: 20px;
}

.topbar-right .anthor-wrapper a:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.topbar-right .login-wrapper a {
  color: #cccccc;
}

.topbar-right .login-wrapper a:hover {
  color: #ffffff;
}

/* 顶部区域 end */

/* 顶部 nav 区域 start */
.header-nav {
  height: 35px;
  box-sizing: border-box;
  line-height: 35px;
  background: #c20c0c;
  border-bottom: 1px solid #a40011;
}

.header-nav .nav-wrapper {
  box-sizing: border-box;
  padding-left: 180px;
}


.header-nav .nav-wrapper .list {
  display: flex;
}

.header-nav .nav-wrapper .list .item {
  display: inline-block;
}

.header-nav .nav-wrapper .list .item span {
  display: inline-block;
  padding: 0 13px;
  margin: 7px 17px;
  height: 20px;
  line-height: 21px;
  color: #fff;
  border-radius: 20px;
}

.header-nav .nav-wrapper .list .item:hover span,
.header-nav .nav-wrapper .list .item.active span {
  background-color: #9B0909;
}

/* 顶部 nav 区域 end */